#titulo{
	/*border: 1px solid #100;
	background: #3498db;*/
	/*height: 250%;
	width: 350%:*/
	background-image: url(../img/fond.png);
	background-size:500% 550%;
	

	
    }

	.galeria {
		display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
		 
	  }
	  
	  .columna {
		flex: 25%;
		max-width: 25%;
		padding: 0 4px;
	  }
	  
	  .columna img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
		
	  }
	  
	  @media screen and (max-width: 800px) {
		.columna { 
		  flex: 80%;
		  max-width: 80%;
		}
	  }

h1{
	text-align: center;
	color: #fff;
}
h2{
	text-align: center;
	font-size: 150%;
	color: #fff;

}

.contact {
	font-size: 120%;
}



* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#izquierdo-menu ul {
	list-style: none;
}

.download {
	align-items: center;
	text-align: center;
	
}
a {
	text-decoration: rgb(34, 9, 9);
	color:rgb(3, 36, 94);
	font-size: 24px;
	font-weight: bold;
	

}

 


img {
	background-color: black;
	background-image: url("papa.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 30%;
	margin: 0 auto;
	height: 450px;
  }
  
  @media screen and (max-width: 2026px) {
	.img{ 
		background-size: 100% 50%;
	  background-repeat: no-repeat;
	  width: 50%;
	  height: 500px;
	}
  }
  
  @media screen and (max-width: 550px) {
	img{ 
	  background-size: contain;
	  background-repeat: no-repeat;
	  width: 20%;
	  height: 450px;
	}
  }

 #parrafo{
 	font-size: 130%;
 	color: rgb(0, 0, 0);
 	text-align: justify;
	margin: 1em;

 }
 .card {
	
	margin-left: 14%;
  }
 
  
  /* Add some padding inside the card container */
  .container {
	background-color: black;
	background-image: url("papa.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 auto;
	height: 500px;
  }


  
  